# Config Wordpress
DATABASE_NAME=wordpress
DATABASE_USERNAME=root
DATABASE_PASSWORD=""
DATABASE_HOST="127.0.0.1"
DATABASE_CHARSET=utf8mb4
# Config 2C2P
2C2P_MERCHANT_ID=JT04
2C2P_SECRET_AUTH_KEY=QnmrnH6QE23N
2C2P_SECRET_SHA_KEY=CD229682D3297390B9F66FF4020B758F4A5E625AF4992E5D75D311D6458B38E2
2C2P_HOST=https://sandbox-pgw.2c2p.com/payment/4.1/
